@{
    ViewBag.Title = "Home Page";
}

<ul class="nav navbar-nav">
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
</ul>  

<input type="text" class="form-control" id="usr">
<input type="password" class="form-control" id="pwd">

Last name: <input type="text" name="LastName" value="Mouse"><br>

